In [7]:
import pandas_datareader.data as web
import pandas as pd

In [28]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [29]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})

In [30]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

In [31]:
returns = price.pct_change()

In [32]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-02-02  0.007044  0.012691  0.015222  0.073674
2022-02-03 -0.016720  0.003862 -0.038952 -0.036383
2022-02-04 -0.001679 -0.004573  0.015568  0.002562
2022-02-07 -0.004235  0.000656 -0.016310 -0.028514
2022-02-08  0.018467 -0.001603  0.011995  0.001979

In [33]:
returns['MSFT'].corr(returns['IBM'])

0.48256757923308785

In [34]:
returns['MSFT'].cov(returns['IBM'])

0.00014092297490324063

In [35]:
#Correlation
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.427002  0.742053  0.660364
IBM   0.427002  1.000000  0.482568  0.455373
MSFT  0.742053  0.482568  1.000000  0.779834
GOOG  0.660364  0.455373  0.779834  1.000000

In [36]:
#Covariance
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000373  0.000137  0.000251  0.000221
IBM   0.000137  0.000278  0.000141  0.000131
MSFT  0.000251  0.000141  0.000307  0.000236
GOOG  0.000221  0.000131  0.000236  0.000300