In [2]:
import pandas_datareader.data as web
import pandas as pd

In [3]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [4]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})

In [5]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

In [6]:
returns = price.pct_change()

In [7]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-02-02  0.007044  0.012691  0.015222  0.073674
2022-02-03 -0.016720  0.003862 -0.038952 -0.036383
2022-02-04 -0.001679 -0.004573  0.015568  0.002562
2022-02-07 -0.004235  0.000656 -0.016310 -0.028514
2022-02-08  0.018467 -0.001603  0.011995  0.001979

In [8]:
returns['MSFT'].corr(returns['IBM'])

0.48256735717178234

In [9]:
returns['MSFT'].cov(returns['IBM'])

0.0001409229094050463

In [10]:
#Correlation
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.427002  0.742053  0.660364
IBM   0.427002  1.000000  0.482567  0.455373
MSFT  0.742053  0.482567  1.000000  0.779834
GOOG  0.660364  0.455373  0.779834  1.000000

In [11]:
#Covariance
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000373  0.000137  0.000251  0.000221
IBM   0.000137  0.000278  0.000141  0.000131
MSFT  0.000251  0.000141  0.000307  0.000236
GOOG  0.000221  0.000131  0.000236  0.000300

In [12]:
returns.describe()

              AAPL          IBM         MSFT         GOOG
count  1258.000000  1258.000000  1258.000000  1258.000000
mean      0.001556     0.000147     0.001451     0.001132
std       0.019301     0.016674     0.017514     0.017307
min      -0.128647    -0.128507    -0.147390    -0.111008
25%      -0.006727    -0.006451    -0.005818    -0.005962
50%       0.001176     0.000472     0.001430     0.001516
75%       0.011106     0.007178     0.010078     0.009277
max       0.119808     0.113010     0.142169     0.104485